{{ header }}{{ column_left }} 
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                <button style="display: none" type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-profile').submit() : false;"><i class="fa fa-trash-o"></i></button>
            </div>

            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %} 
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (error['error_warning'] is defined) %} 
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error['error_warning'] }} 
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %} 
        {% if (success) %} 
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %} 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit_profile }}</h3>
            </div>
            <div class="panel-body">
                {{ tab_common }} 
                <div class="well">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="profile_name">{{ text_filter_profile_name }}</label>
                                <input type="text" name="filter_profile_name" value="{{ filter_profile_name }}" placeholder="{{ text_filter_profile_name }}" id="profile_name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="ebay_category">{{ text_filter_ebay_category }}</label>
                                <input type="text" name="filter_ebay_category" value="{{ filter_ebay_category }}" placeholder="{{ text_filter_ebay_category }}" id="ebay_category" class="form-control" />

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="store_category">{{ text_filter_store_category }}</label>
                                <input type="text" name="filter_store_category" value="{{ filter_store_category }}" placeholder="{{ text_filter_store_category }}" id="store_category" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" style="margin-top: 20px">
                                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> {{ button_filter }}</button>
                                <button type="button" id="button-refresh" class="btn btn-default" style="margin-right: 2px;"><i class="fa fa-refresh"></i> {{ button_reset }}</button>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-profile">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td style="width: 1px; display: none" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                    <td class="text-left" style="width: 45px">{% if (sort == 'id_ebay_profiles') %} 
                                            <a href="{{ sort_id_ebay_profiles }}" class="{{ order }}">{{ column_profile_id }}</a>
                                        {% else %} 
                                            <a href="{{ sort_id_ebay_profiles }}">{{ column_profile_id }}</a>
                                        {% endif %} 
                                    </td>
                                    <td class="text-left">{% if (sort == 'profile_name') %} 
                                            <a href="{{ sort_profile_name }}" class="{{ order }}">{{ column_profile_name }}</a>
                                        {% else %} 
                                            <a href="{{ sort_profile_name }}">{{ column_profile_name }}</a>
                                        {% endif %} 
                                    </td>
                                    <td class="text-left">{% if (sort == 'ebay_catgeory_text') %} 
                                            <a href="{{ sort_ebay_catgeory_text }}" class="{{ order }}">{{ column_ebay_catgeory_text }}</a>
                                        {% else %} 
                                            <a href="{{ sort_ebay_catgeory_text }}">{{ column_ebay_catgeory_text }}</a>
                                        {% endif %} 
                                    </td>
                                    <td class="text-left">{% if (sort == 'store_category_text') %} 
                                            <a href="{{ sort_store_category_text }}" class="{{ order }}">{{ column_store_category_text }}</a>
                                        {% else %} 
                                            <a href="{{ sort_store_category_text }}">{{ column_store_category_text }}</a>
                                        {% endif %} 
                                    </td>
                                    <td class="text-left">{% if (sort == 's.description') %} 
                                            <a href="{{ sort_ebay_site }}" class="{{ order }}">{{ column_ebay_site }}</a>
                                        {% else %} 
                                            <a href="{{ sort_ebay_site }}">{{ column_ebay_site }}</a>
                                        {% endif %} 
                                    </td>
                                    <td style="display: none" class="text-left">{% if (sort == 'status') %} 
                                            <a href="{{ sort_status }}" class="">{{ column_status }}</a>
                                        {% else %} 
                                            <a href="{{ sort_status }}">{{ column_status }}</a>
                                        {% endif %} 
                                    </td>
                                    <td style="display: none" class="text-left">{% if (sort == 'active') %} 
                                            <a href="{{ sort_active }}" class="">{{ column_active }}</a>
                                        {% else %} 
                                            <a href="{{ sort_active }}">{{ column_active }}</a>
                                        {% endif %} 
                                    </td>
                                    <td class="text-right" style="width: 100px">{{ column_action }}</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% if (profiles) %} 
                                    {% for profile in profiles %} 
                                        <tr>
                                            <td class="text-center" style="display: none">
                                                {% if profile['id_ebay_profiles'] in selected %} 
                                                    <input type="checkbox" name="selected[]" value="{{ profile['id_ebay_profiles'] }}" checked="checked" />
                                                {% else %} 
                                                    <input type="checkbox" name="selected[]" value="{{ profile['id_ebay_profiles'] }}" />
                                                {% endif %} 
                                            </td>
                                            <td class="text-left">{{ profile['id_ebay_profiles'] }}</td>
                                            <td class="text-left">{{ profile['profile_name'] }}</td>
                                            <td class="text-left">{{ profile['ebay_catgeory_text'] }}</td>
                                            <td class="text-left">{{ profile['store_category_text'] }}</td>
                                            <td class="text-left">{{ profile['site_id'] }}</td>
                                            <td style="display: none" class="text-left">{{ profile['status'] }}</td>
                                            <td style="display: none" class="text-left">{{ profile['active'] }}</td>
                                            <td class="text-right">
                                                <a href="{{ profile['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                <a href="{{ profile['delete'] }}" onclick="return window.confirm('{{ txt_profile_confirm_delete }}');" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                {% else %} 
                                    <tr>
                                        <td class="text-center" colspan="9">{{ text_no_results }}</td>
                                    </tr>
                                {% endif %} 
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 text-right">{{ results }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function () {
        var url = '{{ profile_management }}'.replace(/&amp;/g, '&');

        var filter_profile_name = $('input[name=\'filter_profile_name\']').val();
        if (filter_profile_name) {
            url += '&filter_profile_name=' + encodeURIComponent(filter_profile_name);
        }

        var filter_ebay_category = $('input[name=\'filter_ebay_category\']').val();
        if (filter_ebay_category) {
            url += '&filter_ebay_category=' + encodeURIComponent(filter_ebay_category);
        }

        var filter_store_category = $('input[name=\'filter_store_category\']').val();
        if (filter_store_category) {
            url += '&filter_store_category=' + encodeURIComponent(filter_store_category);
        }

        var filter_ebay_site = $('input[name=\'filter_ebay_site\']').val();
        if (filter_ebay_site) {
            url += '&filter_ebay_site=' + encodeURIComponent(filter_ebay_site);
        }

        location = url;
    });
    $('#button-refresh').click(function (e) {
        var url = '{{ profile_management }}'.replace(/&amp;/g, '&');
        location = url;
    });
//--></script>
{{ footer }}