<style>
#ban-3{
  margin-top:-90px !Important;
}
@media screen and (max-width: 1200px) {
  .sf-mega {
    width: 25% !Important;
  }
  #ban-3{
    margin-top:-60px !Important;
  }
}
@media screen and (max-width: 992px) {
  .sf-mega {
    width: 30% !Important;
  }
  #ban-3{
    margin-top:-50px !Important;
  }
  .banner-3 .s-desc h4{
    font-size: 3rem !Important;
  }
  .banner-3 .s-desc h2{
    font-size: 4rem !Important;
  }
}
@media screen and (max-width: 768px) {
  .sf-mega {
    width: 30% !Important;
  }
  #ban-3{
    margin-top:-100px !Important;
  }
  .banner-3 .s-desc h4{
    font-size: 5rem !Important;
  }
  .banner-3 .s-desc h2{
    font-size: 6rem !Important;
  }
  .banner-4 .s-desc h2{
    font-size: 6rem !Important;
  }
  .banner-4 .s-desc #new-arrivals{
    font-size: 6rem !Important;
  }
}
</style>
{% if (menu_items) %}
	<div class="megamenu">
		<ul class="sf-menu">
			{% for menu_item in menu_items %}
				<li {{ menu_item['mega'] is not empty ? 'class="' ~ menu_item['mega'] ~ '"' : '' }}>
					{% if (menu_item['href'] is empty) %}
            {% if (menu_item['name'] == 'SALE') %}
						  <span style="color:red;font-weight:bold !important;">{{ menu_item['name'] }}</span>
            {% else %}
              <span style="font-weight:bold !important;">{{ menu_item['name'] }}</span>
            {% endif %}
					{% else %}
            {% if (menu_item['name'] == 'SALE') %}
              <a id="linker" href="{{ menu_item['href'] }}" data-letters="{{ menu_item['name'] }}"><span id="linker" style="color:red;font-weight:800 !important;">{{ menu_item['name'] }}</span></a>
            {% else %}
              <a href="{{ menu_item['href'] }}" data-letters="{{ menu_item['name'] }}"><span>{{ menu_item['name'] }}</span></a>
            {% endif %}
					{% endif %}
					{% if (menu_item['multi'] is not empty) %}
						{{ menu_item['multi'] }}
					{% elseif (menu_item['mega'] is not empty) %}
						<ul class="sf-mega" style="width:20%;" {{ menu_item['background'] is not empty ? 'style="background-image: url(' ~ menu_item['background'] ~ ');"' : '' }}>
							{% for item in menu_item %}
								{%set column = menu_item['column'][loop.index0] %}
								{% if (loop.index0 % menu_item['per-row'] == 0 and loop.index0 != 0) %}
								</li><li class="sf-mega_row">
							{% elseif (loop.index0 == 0) %}
								<li class="sf-mega_row">
								{% endif %}
								<div class="sf-mega_section" style="width: {{ column['width'] }}">
									{% if (column['custom_category'] is not empty) %}
										<div class="submenu_category_title">
											<a id="linker" href="{{ column['custom_category_href'] }}">
												{{ column['custom_category']['name'] }}
											</a>
										</div>
									{% endif %}
									{% if (column['module'] is not empty) %}
										<div class="megamenu_module">
											{{ column['module'] }}
										</div>
									{% endif %}
									{% if (column['list'] is not empty) %}
										<ul>
											{{ column['list'] }}
										</ul>
									{% endif %}
								</div>
								{% if (loop.index0 == menu_item['column']|length) %}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
<script>
	;(function ($) {
		$(window).load(function () {
			var o = $('.sf-menu');
			o.superfish();
			o.find('li a').each(function () {
				if ($(location).attr('href').indexOf($(this).attr('href')) >= 0){
					$(this).addClass('active');
					return;
				}
			})
			if (o.parents('aside').length){
				var width = $('.container').outerWidth() - $('aside').outerWidth();
				o.find('.sf-mega').each(function () {
					$(this).width(width);
				})
			}
		});
	})(jQuery);
</script>
<script src="../api/js/filter-functions.js"></script>
{% endif %}